entrypoint = "main.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 32604955
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m BEAUTYCON.beauty_contest"
